<mat-card>
    <h1>{{formType}}</h1>
    <form #signupForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Age</mat-label>
              <input matInput 
                [(ngModel)] = "age"
                name = "age" 
                required>
            </mat-form-field>
          </p>                                       
        <div >
            <button mat-raised-button color="primary"
            (click)= "updateParent()">
            {{formType}}
            </button>
            <button mat-raised-button  
            (click)= "tellParentToClose()">
                    Cancel
            </button>
        </div>
      </div>
    </form>
   </mat-card>