<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<div>
  <button mat-raised-button
  color = "primary"
  (click) = "addFirstcFormOPen = !addFirstcFormOPen"
>
Add Firstc
</button>      
</div>
<div>
  <app-first-form *ngIf = "addFirstcFormOPen"
    (update) = "add($event)"
    (closeEdit) = "addFirstcFormOPen = false"
    [formType] = "'Add First'">    
  </app-first-form>
</div>
<mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let firstc of firstcs;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{firstc.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{firstc.age}}
          <button mat-raised-button
           color = "primary"
           (click) = "deleteFirtc(firstc.id)">
           Delete
           </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-raised-button
           color = "primary"
           (click) = "editstate[i] = !editstate[i]"> <!--הערך ההתחלתי שלו הוא חסר ערך או פולס,והערך שיתקבל כשנפעיל נוט הוא טרו-->
           Edit
      </button>
      <app-first-form
        [hidden] = "!editstate[i]"
        [name] ="firstc.name"
        [age] ="firstc.age"
        [id] ="firstc.id"
        [formType] = "'Edit firstc'"
        (update) = "update($event);editstate[i] = !editstate[i]"
        (closeEdit) = "editstate[i] = !editstate[i]">
      </app-first-form>
      <p>{{firstc.hobby}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  <div>
    <button mat-raised-button
    color = "primary"
    (click) = "nextPage()"
>
  Next page
</button>
  </div>